<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Chat Webing
        link(rel="shortcut icon", href="assets/logo.png")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/index.css")
        script(src="/scripts/registro.js")
    body
        #welcome(class="full-height full-width")
            #marca.center
                img(class="imge" src="assets/logo.png", alt="")
                h1(class="center" ) Chat Webing  
            form#registro-form(action="/chat", method="POST")
                 
                input#username(type="text", name="username",placeholder="Ingresa tu nickname...", class="full-width", required=true)
               
            
                if !validated 
                    div#registro-warning(class="titilando")
                        i#warning-icon(class="fa fa-warning")
                        small(class="lighter") El Usuario ingresado ya existe =(

                button#send-form(class="lighter") CONTINUAR